files: python/xorbits
repos:
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: [--config, python/setup.cfg]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--sp, python/setup.cfg]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
        additional_dependencies: [tokenize-rt==3.2.0]
        exclude: _mars
        args: [--ignore-missing-imports, --follow-imports, skip]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0 # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        types_or: [html, javascript]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        exclude: _mars/lib
        args: [--config, python/setup.cfg]
