global-include *.pyx
global-include *.pxd
global-include xorbits/**/*.yml
global-exclude *.c
global-exclude *.cpp
global-exclude */**/tests/*.yml
global-exclude */**/node_modules/**/*
include setup.cfg
include pyproject.toml
include xorbits/_mars/lib/mmh3_src/*
include xorbits/web/ui/index.html
global-include xorbits/web/ui/static/**/*
include xorbits/deploy/oscar/file-logging.conf
global-exclude .DS_Store
include versioneer.py
include xorbits/_version.py
global-exclude conftest.py
