name: Xorbits Continuous Benchmark

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  asv-benchmarks:
    name: ASV Benchmarks
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    concurrency:
      # https://github.community/t/concurrecy-not-work-for-push/183068/7
      group: ${{ github.event_name == 'push' && github.run_number || github.ref }}-asv-benchmarks
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up conda python3.9
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        id: build
        shell: bash -el {0}
        run: |
          pip install numpy scipy cython asv coverage
          cd python && pip install -e ".[dev,extra]"

      - name: Run ASV benchmarks
        shell: bash -el {0}
        run: |
          unset CI
          cd asv
          asv check -E existing
          git remote add upstream https://github.com/xorbitsai/xorbits.git
          git fetch upstream
          asv machine --yes
          asv continuous -f 1.1 --strict --show-stderr upstream/main HEAD
        if: ${{ steps.build.outcome == 'success' }}

      - name: Publish benchmarks artifact
        uses: actions/upload-artifact@v2
        with:
          name: Benchmarks log
          path: benchmarks/asv_bench/results
        if: failure()
