name: Kubernetes CI

on:
  push:
    branches:
      - '*'
  pull_request:
    types: ['opened', 'reopened', 'synchronize']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [ "3.7", "3.8", "3.9", "3.10" ]

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Start minikube
        uses: medyagh/setup-minikube@master
        with:
          driver: none
          kubernetes-version: v1.23.12

      - name: Install kubernetes dependencies
        shell: bash
        run: |
          python -m pip install kubernetes
          kubectl get pods -A

      - name: Install xorbits
        run: |
          pip install -e ".[dev,extra]"
        working-directory: ./python

      - name: Test with pytest
        run: |
          pytest -s --ignore xorbits/_mars/ -o log_cli=true --log-cli-level=DEBUG --timeout=1500 \
            -W ignore::PendingDeprecationWarning \
            --cov-config=setup.cfg --cov-report=xml --cov=xorbits/deploy xorbits/deploy/kubernetes
        working-directory: ./python

      - name: Report coverage data
        uses: codecov/codecov-action@v3
        with:
          working-directory: ./python/xorbits/deploy
          flags: kubernetes
