name: Python CI

on:
  workflow_run:
    workflows: ["Lint CI"]
    types: [completed]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      CONDA_ENV: xorbits-test
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        exclude:
          - os: ["macos-latest", "windows-latest"]
          - python-version: ["3.8", "3.9"]

    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Set up conda ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: ${{ env.CONDA_ENV }}
        use-only-tar-bz2: true

    - name: Get Date
      id: get-date
      run: echo "::set-output name=today::$(/bin/date -u '+%Y%m%d')"
      shell: bash

    - name: Get conda prefix
      id: get-conda-prefix
      run: echo "::set-output name=conda_prefix::$(conda info --base)"

    - name: Cache conda env
      id: conda
      uses: actions/cache@v2
      env:
        # Increase this value to reset cache if python/CI/conda-environment.yml has not changed
        CACHE_NUMBER: 0
      with:
        path: |
          ${{ steps.get-conda-prefix.outputs.conda_prefix }}/envs/${{ env.CONDA_ENV }}
        key:
          # using date to refresh the cache every 24 hours
          ${{ runner.os }}-conda-${{ matrix.python-version }}-${{ env.CACHE_NUMBER }}-${{
          hashFiles('python/CI/conda-environment.yml') }}-${{ steps.get-date.outputs.today }}

    - name: Install dependencies
      # Only need to run install when deps have been changed
      if: steps.conda.outputs.cache-hit != 'true'
      run: |
          conda env update -f python/CI/conda-environment.yml

    - name: Install xorbits
      run: |
        pip install -e ".[dev,extra]"
      working-directory: ./python

    - name: Test with pytest
      run: |
        pytest --ignore xorbits/_mars/ --log-level=DEBUG --timeout=1500 \
          -W ignore::PendingDeprecationWarning \
          --cov-config=setup.cfg --cov-report=xml --cov=xorbits xorbits
      working-directory: ./python

    - name: Report coverage data
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
